---
services:
  web:
    build:
      target: development
      context: .
    ports:
    - "3000:80"
    volumes:
    - ./html:/usr/local/apache2/htdocs

  data:
    build:
      target: data
      context: .
    volumes:
    - .:/app
    - bundle:/bundle
    profiles: ["data"]

volumes:
  bundle:
